In [2]:
#comments use #

In [3]:
# addition
2+7

9

In [4]:
# substract
9-7

2

In [5]:
# multiplication
3*9

27

In [6]:
#division single slah result show float (classic division returns a float)
9/2

4.5

In [7]:
#division double slah result(floor division discards the fractional part)
9//2

4

In [8]:
# remainder (the % operator returns the remainder of the division)
17%4

1

In [9]:
# power
5**2

25

In [10]:
# equal sign
a = 5
b = 9
a*b

45

In [12]:
#try to access an undefined variables
n

NameError: name 'n' is not defined

In [13]:
# single quotes
'teja anuchuri'

'teja anuchuri'

In [14]:
# double quotes
"teja anuchuri"

'teja anuchuri'

In [15]:
# use \' to escape the single quote...
'doesn\'t'

"doesn't"

In [17]:
# use double quotes instead
"doesn\'t"

"doesn't"

In [18]:
# here \n means newline!
print('C:\some\name')

C:\some
ame

In [19]:
# note the r before the quote
print(r'C:\some\name')

C:\some\name

In [20]:
# concate use + operate
prefix = 'teja '
prefix + 'anuchuri'

'teja anuchuri'

In [22]:
name = 'teja anuchuri'
name[0] # character in pos 0

't'

In [23]:
name[8] # character in pos 8

'c'

In [24]:
#Indices may also be negative numbers, to start counting from the right:
# last character
name[-1]

'i'

In [25]:
# second last character
name[-2]

'r'

In [28]:
# starting index included and ending index excluded in given string below
# 0 included and 8 excluded (only 7 index included)
name[0:8]

'teja anu'

In [29]:
#s[:i] + s[i:] is always equal to s:
name[:6] + name[6:]

'teja anuchuri'

In [30]:
# character from the beginning to position 2 (excluded)
name[:2]

'te'

In [32]:
# characters from position 4 (included) to the end
name[4:]

' anuchuri'

In [35]:
# characters from the second-last (included) to the end
name[-6:]

'uchuri'

In [36]:
#length
len(name)

13

In [37]:
#Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [40]:
#lists
squares = [1,4,9,16,25]
squares

[1, 4, 9, 16, 25]

In [41]:
squares[0] # indexing returns the item

1

In [42]:
squares[-1]

25

In [43]:
squares[-3:] # slicing returns a new list

[9, 16, 25]

In [44]:
squares[:]

[1, 4, 9, 16, 25]

In [45]:
# Lists also support operations like concatenation:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
#if statements
x = int(input("enter number"))
if x<0:
    print('Negative Number')
elif x>0:
    print('Postive Number')
else:
    print('zero')

enter number-98
Negative Number

In [51]:
# for statements
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [52]:
# range() 
for i in range(5):
    print(i)

0
1
2
3
4

In [54]:
for i in range(5,21):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [55]:
#To iterate over the indices of a sequence, you can combine range() and len() as follows:

In [58]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i,a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [62]:
# sum of range
sum(range(5))

10

In [63]:
# list of range elements
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
# pass statements
#while True:
#   pass

In [ ]:
#class MyEmptyClass:
#   pass

In [64]:
def fib(n):
    a,b = 0,1
    while a<n:
        print(a,end=' ')
        a,b=b,a+b
    
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597